/* Group 66 */

position: absolute;
width: 1443px;
height: 956px;



/* Rectangle */

position: absolute;
width: 523px;
height: 953px;

background: #04103B;
border-radius: 40px;


/* Rectangle 275 */

position: absolute;
width: 200px;
height: 40px;

background: #FFFFFF;
border: 0.56px solid #E2DEF9;
box-shadow: -28px 22px 45px rgba(27, 29, 66, 0.139423);
border-radius: 10px;


/* Oval */

position: absolute;
width: 38px;
height: 38px;

background: #FF7F57;


/* Oval */

position: absolute;
width: 52px;
height: 52px;

background: #FFC629;


/* Group 2 */

position: absolute;
width: 149.41px;
height: 179px;



/* Leagues */

position: absolute;
width: 141.44px;
height: 20px;



/* Help */

position: absolute;
width: 90px;
height: 20px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;

color: #FFFFFF;



/* Path */

position: absolute;
width: 14.7px;
height: 13.99px;

background: #FFFFFF;


/* Schedule */

position: absolute;
width: 143.5px;
height: 20px;



/* Forum */

position: absolute;
width: 89.91px;
height: 20px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;

color: #FFFFFF;



/* Group */

position: absolute;
width: 14px;
height: 11px;

transform: rotate(90deg);


/* Group 4 */

position: absolute;
width: 14px;
height: 11px;

transform: rotate(90deg);


/* Path */

position: absolute;
width: 14px;
height: 11px;

background: #FFFFFF;
transform: rotate(90deg);


/* Path */

position: absolute;
width: 4px;
height: 1.01px;

background: #5041BC;
transform: rotate(-180deg);


/* Path */

position: absolute;
width: 7px;
height: 1px;

background: #5041BC;
transform: rotate(-180deg);


/* Cash Games */

position: absolute;
width: 143px;
height: 100px;



/* Habits */

position: absolute;
width: 61.91px;
height: 20px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;

color: #FFFFFF;



/* Frame 1 */

position: absolute;
width: 100px;
height: 100px;



/* Group 6 */

position: absolute;
width: 12.05px;
height: 16.07px;



/* Path */

position: absolute;
width: 12.05px;
height: 16.07px;

background: #FFFFFF;


/* Path */

position: absolute;
width: 10.04px;
height: 14.06px;

background: #FFFFFF;


/* Path */

position: absolute;
width: 5.02px;
height: 1.01px;

background: #5041BC;


/* Path */

position: absolute;
width: 8.04px;
height: 1px;

background: #5041BC;


/* Path */

position: absolute;
width: 8.04px;
height: 1.01px;

background: #5041BC;


/* Path */

position: absolute;
width: 8.04px;
height: 1.01px;

background: #5041BC;


/* Tournaments */

position: absolute;
width: 148.91px;
height: 20px;



/* Dashboard */

position: absolute;
width: 95.91px;
height: 20px;

font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 20px;

color: #5041BC;



/* Fill 1 */

position: absolute;
width: 10.77px;
height: 10.77px;

background: #5041BC;
border: 1px solid #5041BC;


/* Path */

position: absolute;
width: 3.77px;
height: 3.77px;

background: #0075E2;


/* Path */

position: absolute;
width: 3.77px;
height: 3.77px;

background: #0075E2;


/* Path */

position: absolute;
width: 3.77px;
height: 3.77px;

background: #0075E2;


/* Path */

position: absolute;
width: 3.77px;
height: 3.77px;

background: #0075E2;


/* Medico */

position: absolute;
width: 119px;
height: 48px;

font-family: 'Passion One';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 48px;
text-transform: uppercase;

color: #FFFFFF;



/* Rectangle */

position: absolute;
width: 1200px;
height: 956px;

background: #FFFFFF;
border-radius: 40px;


/* Welcome User, */

position: absolute;
width: 173px;
height: 34px;

font-family: 'Nunito';
font-style: italic;
font-weight: 600;
font-size: 25px;
line-height: 34px;
/* identical to box height */

color: #04103B;



/* Group 72 */

position: absolute;
width: 412.3px;
height: 40px;



/* Rectangle 3 */

position: absolute;
width: 412.3px;
height: 40px;

background: #F5F3FF;
border-radius: 23px;


/* Search */

position: absolute;
width: 44px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #5041BC;



/* search icon */

position: absolute;
width: 17.88px;
height: 17.87px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Fill 1 */

position: absolute;
width: 4.17px;
height: 4.17px;

background: #5041BC;


/* Fill 2 */

position: absolute;
width: 17.88px;
height: 17.87px;

background: #5041BC;
border: 1px solid #5041BC;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Path */

position: absolute;
width: 17.88px;
height: 17.87px;

background: #9E9E9E;
border: 1px solid #9E9E9E;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Path */

position: absolute;
width: 10.95px;
height: 10.94px;

background: #9E9E9E;
border: 1px solid #9E9E9E;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Path */

position: absolute;
width: 5.11px;
height: 5.11px;

background: #9E9E9E;
border: 1px solid #9E9E9E;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Notification */

position: absolute;
width: 16.41px;
height: 20px;



/* notification (1) */

position: absolute;
width: 16.41px;
height: 20px;

background: #5041BC;


/* Path */

position: absolute;
width: 16.41px;
height: 16.92px;

background: #F5F3FF;


/* Path */

position: absolute;
width: 4.1px;
height: 2.05px;

background: #9E9E9E;


/* Oval 2 */

position: absolute;
width: 7px;
height: 7px;

background: #EA8F95;


/* Profile */

position: absolute;
width: 175.01px;
height: 30px;



/* Danielle Campbell */

position: absolute;
width: 114px;
height: 18px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height */

color: #54657E;



/* Profile icon */

position: absolute;
width: 30px;
height: 30px;



/* Mask */

position: absolute;
width: 30px;
height: 30px;

background: #D8D8D8;
border: 1px solid #9E9E9E;


/* Mask */

position: absolute;
width: 30px;
height: 30px;

background: #D8D8D8;
border: 1px solid #9E9E9E;


/* Bitmap */

position: absolute;
width: 68.25px;
height: 45.75px;

background: url(Image.png);


/* Path 2 */

position: absolute;
width: 8.01px;
height: 4.11px;

background: #5041BC;


/* graph card */

position: absolute;
width: 673px;
height: 287px;



/* Rectangle */

position: absolute;
width: 673px;
height: 287px;

background: #FFFFFF;
border: 1px solid #D3CBFB;
border-radius: 20px;


/* Mask */

position: absolute;
width: 673px;
height: 287px;

background: #FFFFFF;


/* Time --> Days */

position: absolute;
width: 107px;
height: 22px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #04103B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group 65 */

position: absolute;
width: 71px;
height: 38px;



/* Group 68 */

position: absolute;
width: 71px;
height: 38px;



/* 2018 */

position: absolute;
width: 55px;
height: 38px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;

color: #04103B;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ellipse 4 */

position: absolute;
width: 10px;
height: 10px;

background: #04103B;


/* Group 5 */

position: absolute;
width: 594px;
height: 160px;



/* Rectangle 266 */

position: absolute;
width: 594px;
height: 159px;

background: linear-gradient(178.01deg, rgba(197, 189, 254, 0.450803) -1.04%, rgba(80, 65, 188, 0.0001) 87.18%);
mix-blend-mode: normal;
opacity: 0.55;


/* Rectangle 266 */

position: absolute;
width: 590px;
height: 97px;

border: 4px solid #04103B;
box-shadow: 0px 10px 18px #5041BC;


/* Path 5 */

position: absolute;
width: 596px;
height: 161px;

border: 2px solid #ECEAFF;


/* 2015 */

position: absolute;
width: 9px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #04103B;



/* 2020 */

position: absolute;
width: 15px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 2025 */

position: absolute;
width: 8px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 2021 */

position: absolute;
width: 15px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 2022 */

position: absolute;
width: 15px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 2023 */

position: absolute;
width: 15px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 50 */

position: absolute;
width: 15px;
height: 16px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: right;

color: #04103B;



/* 2016 */

position: absolute;
width: 17px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #04103B;



/* 2017 */

position: absolute;
width: 17px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #04103B;



/* 2018 */

position: absolute;
width: 17px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #04103B;



/* 2019 */

position: absolute;
width: 17px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #04103B;



/* Rectangle 282 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 140px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 281 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 140px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* cards */

position: absolute;
width: 1091px;
height: 140px;



/* Rectangle 278 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;

background: url(Screenshot 2022-09-24 at 3.44.png);
border: 1px solid #04103B;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Nicholes */

position: absolute;
width: 204px;
height: 87px;



/* Text */

position: absolute;
width: 204px;
height: 87px;



/* Group 58 */

position: absolute;
width: 204px;
height: 87px;



/* 1.4k */

position: absolute;
width: 100px;
height: 50px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;



/* Cleared Qeue */

position: absolute;
width: 204px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Nicholes */

position: absolute;
width: 204px;
height: 87px;



/* Text */

position: absolute;
width: 204px;
height: 87px;



/* Group 58 */

position: absolute;
width: 204px;
height: 87px;



/* 1.4k */

position: absolute;
width: 100px;
height: 50px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;



/* Cleared Qeue */

position: absolute;
width: 204px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 277 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;

background: url(Screenshot 2022-09-24 at 4.17.png);
border: 1px solid #FFFFFF;


/* Nicholes */

position: absolute;
width: 808px;
height: 140px;



/* Rectangle 280 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;

background: url(Screenshot 2022-09-24 at 4.24.png);
border: 1px solid #FFFFFF;


/* Text */

position: absolute;
width: 808px;
height: 140px;



/* Rectangle 283 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 140px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group 58 */

position: absolute;
width: 189px;
height: 88px;



/* 1.4k */

position: absolute;
width: 100px;
height: 50px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;



/* Cleared Qeue */

position: absolute;
width: 189px;
height: 76.05px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Bitmap */

position: absolute;
visibility: hidden;
width: 22.32px;
height: 25.59px;



/* Mask */

position: absolute;
visibility: hidden;
width: 45.92px;
height: 41.92px;

background: linear-gradient(229.42deg, #3D29D0 26.93%, #C25FFF 98.11%);
border-radius: 20px;


/* Group 69 */

position: absolute;
width: 22.32px;
height: 25.59px;



/* Vector */

position: absolute;
width: 22.32px;
height: 20.71px;

background: #04103B;


/* Group 13 */

position: absolute;
width: 4.85px;
height: 4.84px;

transform: matrix(0.71, -0.65, 0.77, 0.71, 0, 0);


/* Path 7 */

position: absolute;
width: 3.58px;
height: 3.58px;

border: 2px solid #04103B;
transform: matrix(0.71, -0.65, 0.77, 0.71, 0, 0);


/* Path 8 */

position: absolute;
width: 4.84px;
height: 4.84px;

border: 2px solid #04103B;
transform: matrix(0.71, -0.65, 0.77, 0.71, 0, 0);


/* Rectangle 279 */

box-sizing: border-box;

position: absolute;
width: 50px;
height: 50px;

background: url(Screenshot 2022-09-24 at 4.30.png);
border: 1px solid #FFFFFF;


/* Nicholes */

position: absolute;
width: 204px;
height: 87px;



/* Text */

position: absolute;
width: 204px;
height: 87px;



/* Group 58 */

position: absolute;
width: 204px;
height: 87px;



/* 1.4k */

position: absolute;
width: 100px;
height: 50px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;



/* Cleared Qeue */

position: absolute;
width: 204px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Nicholes */

position: absolute;
width: 786px;
height: 140px;



/* Text */

position: absolute;
width: 786px;
height: 140px;



/* Group 58 */

position: absolute;
width: 206px;
height: 81px;



/* 1.4k */

position: absolute;
width: 119px;
height: 43px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;



/* Cleared Qeue */

position: absolute;
width: 206px;
height: 34px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 284 */

box-sizing: border-box;

position: absolute;
width: 250px;
height: 140px;

background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Ract */

position: absolute;
width: 50px;
height: 50px;

background: url(Screenshot 2022-09-24 at 3.44.png);
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Nicholes */

position: absolute;
visibility: hidden;
width: 100px;
height: 61.52px;



/* Text */

position: absolute;
width: 100px;
height: 61.52px;



/* Group 58 */

position: absolute;
width: 100px;
height: 61.52px;



/* 1.4k */

position: absolute;
width: 100px;
height: 50px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;

color: #04103B;

opacity: 0.3;


/* Group 56 */

position: absolute;
width: 17.52px;
height: 17.52px;



/* Group 14 */

position: absolute;
width: 17.52px;
height: 17.52px;



/* Mask */

position: absolute;
width: 17.52px;
height: 17.52px;

background: #B5FFCE;


/* Group 13 */

position: absolute;
width: 4.75px;
height: 4.73px;



/* Path 7 */

position: absolute;
width: 3.5px;
height: 3.5px;

border: 1.5px solid #43BE83;


/* Path 8 */

position: absolute;
width: 4.73px;
height: 4.73px;

border: 1.5px solid #43BE83;


/* Rectangle */

position: absolute;
width: 428.17px;
height: 286.12px;

background: #04103B;
border-radius: 20.4375px;


/* START */

position: absolute;
width: 224px;
height: 73px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 89px;
display: flex;
align-items: center;



/* Active Challenges */

position: absolute;
width: 218px;
height: 45px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Arrow 1 */

box-sizing: border-box;

position: absolute;
width: 231.01px;
height: 0px;

border: 3px solid #FFFFFF;
transform: rotate(-0.5deg);


/* 30 */

position: absolute;
width: 17px;
height: 19px;

font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */

color: #000000;



/* Rectangle 285 */

box-sizing: border-box;

position: absolute;
width: 1158px;
height: 143px;

background: #FFFFFF;
border: 1px solid #000000;


/* Line 1 */

position: absolute;
width: 1158px;
height: 0px;

border: 1px solid #000000;
transform: rotate(0.15deg);


/* Line 2 */

position: absolute;
width: 139.03px;
height: 0px;

border: 1px solid #000000;
transform: rotate(91.24deg);


/* 0 5 10 15 20 25 30 */

position: absolute;
width: 1158px;
height: 109px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 65px;

color: #000000;



/* Reward */

position: absolute;
width: 364px;
height: 25px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Retain */

position: absolute;
width: 364px;
height: 25px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #797D8C;

